.ant-targets*
bin
*.pyc
*.class
tests/inference-output
tests/benchmarks/inference-output
tests/inference.jaif
tests/*.class
tests/build/**
.settings/**
.scala_dependencies
.idea
bin/tmp
bin/libs/checker-framework-inference.jar
.gradle
build
.classpath
dist
testing/output
lib/**
testdata/tmp/

# Emacs and other temporary files
*~
.#*
\#*#
TAGS
tags
*.swp
*.orig
.DS_Store

# Gradle outputs
/build/
