.ant-targets*
bin
*.pyc
*.class
tests/inference-output
tests/benchmarks/inference-output
tests/inference.jaif
tests/*.class
tests/build/**
tests/deps/**
.settings/**
.scala_dependencies
.idea
bin/tmp
bin/libs/checker-framework-inference.jar
.gradle
build/tmp
.classpath
dist
testing/output
lib/**
